<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Digit Recognition</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Required CDNs for Fonts and Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  </head>
  <body>
    <header>
        <h1 class="title"><b>Digit Recognition</b></h1>
    </header>
    <center>
        <div class="centered">
            <p><b>Upload Image<br> </b>Note: Please Upload as confusing picture as possible to test model.</p>
            <div class="upload-form">
              <form action = "/uploader" method = "POST" enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
              </form>
            </div>
     </div>
    </center>
  </body>
</html>
